*, html body {
    

    margin: 0;
    padding: 0;
}
body{
  background-image: url(gn.jpg);
    background-size: cover; /* You can use other values like 'contain' or 'auto' */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
    
}
.judul {   height: 10dvh;
   
    
}

.content {border: 4px solid rgb(90, 143, 90);
    border-top-left-radius: 20px;
   
    height: 30dvh;
   margin : 70px;
   padding: 10px;
color: rgb(216, 236, 224);
font-size: 1em;
display: grid;
justify-content:center;
align-items: center;
 }
 
.h3content{
    font-size: 40px;
   padding-bottom: 10px;
   color: rgb(41, 52, 36);
   font-family: 'GraffitiFont', cursive;
   text-shadow: 2px 2px 4px beige;
   
 }
.h1 {
  
    display: flex;
    justify-content: center;
align-items: center;
font-family: 'GraffitiFont', cursive;
font-size: 3em;
      text-shadow: 2px 2px 4px rgb(255, 255, 255);
      letter-spacing: 5px;
  
}

.h2 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GraffitiFont', cursive;
font-size: 1em;

      text-shadow: 2px 2px 4px rgba(255, 241, 241, 0.5);
      letter-spacing: 0px;
      margin: 0;
}
.foto{
    position: absolute;
  left: 8%;
   
}
.navbar {height: 10dvh;  
}

.ul-navbar{
   
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
 
 }

 .li-navbar {  margin-top: 40px;
   

 }

 .anavbar{color: rgb(8, 40, 29);
  
   font-family: 'GraffitiFont', cursive;
   font-size: 1.8em;
  text-decoration: none;
 }
 .anavbar:hover{background-color: rgb(5, 24, 24);
    color: bisque;
    border-radius: 10px;
    transition: .5s ease-in-out;
 }


.foot{
    height: 15dvh; background-color: rgba(184, 162, 135, 0.882);
    border-style: groove;
    border-radius: 20px 20px ;
 margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GraffitiFont', cursive;
   font-size: .6em;
}



#btn { border-radius: 40px;
    color: rgb(232, 241, 236);
    font-size: 20px;
    background-color: black;
  cursor: pointer;
    height : 40px;
 }
 .input {
    background-color: rgb(110, 156, 124);
 }
